

*.json
*.vsidx
*.dll
*.xml
*.dylib
*.pdb
*.rsp
*.targets
*.force
*.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.Up2Date
*.xlsx
*.p7s
*.nupkg
packages/ClosedXML.0.102.2/nuget-logo.png
packages/DocumentFormat.OpenXml.2.16.0/icon.png
*.md
*.xdt
*._
*.props
*.ps1
*.TXT
*.h
*.aar
*.plist
packages/Microsoft.ML.OnnxRuntime.1.16.0/ORT_icon_for_light_bg.png
packages/Microsoft.ML.OnnxRuntime.1.16.0/LICENSE
packages/Microsoft.ML.OnnxRuntime.1.16.0/runtimes/ios/native/onnxruntime.xcframework/ios-arm64/onnxruntime.framework/onnxruntime
packages/Microsoft.ML.OnnxRuntime.1.16.0/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/onnxruntime
*.so
*.lib
packages/Microsoft.ML.OnnxRuntime.Managed.1.16.0/ORT_icon_for_light_bg.png
.vs/VMS_1/v17/.suo
.vs/VMS_1/v17/.suo
